<div class="">
    <div class="pl-4 w-full flex h-32 bg-purple-500 py-4 items-start">
        <div class="flex items-center gap-4 text-white">
            <a href="/" class="flex">
                <span class="material-icons-outlined text-3xl">
                    arrow_back
                </span>
            </a>
            <span class="uppercase tracking-wide text-base">Mi pedido</span>
        </div>
    </div>

    <section class="flex justify-center pt-4 -mt-16">
        <div class="max-w-screen-md w-11/12 sm:w-8/12 lg:w-6/12 rounded-md">
            <ul class="flex flex-col gap-4 rounded-md h-[72vh]">
                {{#each prodsCarro}}
                <li class="flex rounded-md gap-4 items-center w-full pr-2 shadow-md bg-white">
                    <div class="h-20 w-24 min-w-[6rem] relative flex">
                        <img src="/image/users/jtelgarecz@gmail.com.jpg" alt="" class="rounded-r-md object-cover" />
                    </div>
                    <div class="w-full">
                        <div class="flex justify-between items-center">
                            <span class="uppercase font-bold text-sm">
                                <b>{{this.nombre}}</b>
                            </span>
                            {{!-- <span class="material-icons-outlined text-2xl cursor-pointer text-red-400">
                                close
                            </span> --}}
                        </div>
                        <div class="overflow-y-auto leading-3 h-[32px]">
                            <span class="text-xs overflow-hidden sm:max-w-[15rem] relative">
                                {{this.descripcion}}
                            </span>
                        </div>
                        <div class="flex w-full justify-between items-center">
                            <span class="w-full justify-end flex font-bold">
                                <b>$ {{this.precio}}</b>
                            </span>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <button class="bg-purple-500 uppercase text-sm text-white rounded-sm px-2 py-2 w-full"
                title="Agregar producto al carrito" onclick="return iniciarCompra({{json carro}})">
                Confirmar compra
            </button>
        </div>
    </section>
</div>

<div class="min-w-screen fixed min-h-screen w-full top-0 hidden left-0 justify-center items-center" id="modalcompra">
    <div class="min-w-screen min-h-screen bg-black opacity-60 -z-10 w-full fixed  top-0 left-0"></div>
    <div
        class="flex flex-col gap-8 items-center bg-white shadow-md py-10 px-16 rounded-3xl w-50 max-w-md z-10 text-center">
        <h3 class="flex items-center gap-2 flex-col"> <span
                class="text-center uppercase text-xl text-gray-600 font-bold">¡Gracias por su compra!</span></h3>
        <div>
            <span class="animate-spin material-icons-outlined text-purple-600" style="font-size: 65px !important">
                autorenew
            </span>
        </div>
        <h3 class="text-center uppercase text-base text-gray-600 font-bold">
            Redirigiendo al inicio
        </h3>
    </div>
</div>

<script>
       const iniciarCompra = async (carro) => {
        const modal = document.getElementById('modalcompra');
        modal.style.display = 'flex';
        const user = {{{json user}}};
        const objCarro = {
            key: 'estado',
            value: 'Finalizado',
            id: carro.id,
            user,
            carro
        };
        const url = `/carrito`;
        const options = {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(objCarro),
        };
        const re = await fetch(url, options);
        if (re.ok) {
            if (re.url.split("?Mesage=").length > 1) {
                const corte = re.url.split("/session/login/")[1];
                const path = `/session/login/${corte}`;
                goLink(path);
            }
            modal.style.display = 'hidden';
            window.location = "/";
        }
        
    };
</script>